<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h1>URL Shortener</h1>
    <% if (locals.user) { %>
        <h2>Welcome, <%= user.name %>!</h2>
    <% } %>
    <h3>
        <% if (locals.id) { %>
            <p>URL Generated <a href="http://localhost:8000/<%= id %>" target="_blank">http://localhost:8000/<%= id %>
                        </a></p>
                        <a href="/"><button>Go to Home</button></a>
            <% } %>
    </h3>
    <div>
        <form method="post" action="/url">
            <label for="">Enter Your URL</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
    <div class="error">
        <% if (locals.error) { %>
         <h3 style="color: red;">Enter a valid URL</h3>
        <% } %>
    </div>
    <div>
        <% if (locals.urls && locals.user) { %>
            <table>
                <thead>
                    <th>S. No.</th>
                    <th>Link</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                        <tr>
                        <td><%=index+1 %></td>
                        <td><%= url.redirectedURL %></td>
                        <td><%= url.shortID %></td>
                        <td><%= url.visitHistory.length %></td>
                       </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
    </div>
</body>

</html>